{% extends "base.html" %}
    {% block content %}

        <h1>Welcome To Rock Paper Scissors</h1>
        <p>Fancy a round of the ol' Ro Sham Bo, good sir?</p>
        <p>To participate, click the button below.</p>
       
        <form action="/start">
            <input type="submit" value="Play against a friend">
        </form>

        <h2>Prefer to play against the computer?</h2>
        <form action="/computer">
            <input type="submit" value="Play the computer">
        </form>

    {% endblock %}
