{% extends "base.html" %}
    {% block content %}

        <h1>Rock Paper Scissors</h1>
        <p>Fancy a round of Rock Paper Scissors, good sir?</p>
        <p>To participate, append the URL at the top of your browser.</p>
        <p>After the last '/' enter the first players choice followed by another '/'</p>
        <p>After that, enter the second players choice</p>
        <p>You may choose between: rock, paper and scissors respectively </p>
        <p>Like so: </p>
        <p>http://url/home/rock/paper</p>
        <form action="/start">
            <input type="submit" value="Start the game!">
        </form>


    {% endblock %}
